/* body{
    background-image: url(https://media.istockphoto.com/vectors/repeated-circles-and-triangles-drawn-by-hand-geometric-seamless-vector-id921386812);
} */
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(173, 240, 207);
    height: 60px;
}

ul{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    margin: 5px 15px;
}
a:hover{
    /* hover es  una herramienta que sirve para agregar ciertos atributos al los elementos cuando se le pasa el cursor encima o seleccionan */
    color: red
    /* font-size */
    /* backgroun */
    /* margin */
    /* padding */
    /* border-radius */
}

.logo img{
    width: 50px;
    
}

.contenedor{
    max-width: 95%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner{
    max-width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}
.banner img{
    width: 100%;
    height: 300px;

    object-fit: cover;
    object-position: bottom;
}

.banner img :hover{
    transform: scale(1.05);
    transition: 1s;
}