.btn-Gatito{
    display: block;
    margin: 0 auto;
    background-color: rgb(39, 2, 44);
    color: white;
    border: none;
    padding: 20px;
    font-size: large;
    border-radius: 10px;
}
#imgGatito{
    display: block;
    margin: 0 auto;
     width: 600px;
     height: 400px; 
    object-fit: cover;
    border-radius: 20px;
}